@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Naruto;
    src: url("./assets/njnaruto.ttf");
}
@font-face {
    font-family: Bebas;
    src: url("./assets/BebasNeue-Regular.ttf");
}